@font-face {
    font-family: centuryGothic;
    src: url(centurygothic.ttf);
}


html{
padding-top:0px;
margin-top: 0px;
background-color: black;
background-image: linear-gradient(hsl(0,0%,30%) 5%,hsl(0,0%,80%) 5% 95%);
background-size:4rem 20px ;
height: 100vh;
padding: 0px;
margin: 0px;
}

body{
    font-family: centuryGothic;
    margin: 0px;
    height: 100%;
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: space-around;
}




/*
.wrapper-text .background{
    position: absolute;
    background-color: hsl(0,0%,90%);
    opacity: 0.5;
    z-index: -1;
    top:0px;
    left: 0px;
    height: 100%;
    width: 100%;
}*/

.wrapper-text{
    position: relative;
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-shadow: 0 0 10px hsl(0,0%,60%);
}

.wrapper-text h1{
    font-size: 150px;
    margin: 0;
    padding-bottom: 0;
    display: block;    

}


.wrapper-text h2{
    margin: 10px;
    font-size: 20px;
    font-weight: 300;
}

.schools a{
    outline: none;
    border: none;
    text-decoration: none;
}

.schools h2{
    font-size: 60px;
    font-weight: 100;
    margin: 0;
    text-shadow: 0 0 10px hsl(0,0%,70%);
    color: hsl(0,0%,20%);
    padding: 10px;
    transition: 0.2s;
}

.schools h2:hover{
    cursor: grab;
    transition: 0.2s;
    margin-left: 10px;
    color: hsl(225, 100%, 60%);
}

.schools h3{
    font-size: 50px;
    font-weight: 100;
    margin: 0;
    text-shadow: 0 0 10px hsl(0,0%,70%);
    color: hsl(0,0%,20%);
    padding: 10px;
    transition: 0.2s;
}

.schools h3:hover{
    cursor: grab;
    transition: 0.2s;
    
    color: hsl(225, 100%, 60%);
}

.search-bar{
    display: flex;
    align-items: center;
    background-color: hsl(0,0%,90%);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px hsl(0,0%,40%);
    transition: 0.2s;
    border: solid 1px hsl(0,0%,90%);
}

.search-bar:hover{
    display: flex;
    align-items: center;
    
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px hsl(0,0%,45%);
}


.search-bar input{
    width: 60vw;
    border: none;
    font-family: 'Poppins';
    background-color: hsl(0,0%,90%);
}

.search-bar input:enabled{
    border: none;
    outline: none;
    font-size:20px;

}

.search-bar img{
    opacity: 0.5;
    transition: 0.2s;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    height: 20px;
}

.search-bar img:hover{
    opacity: 1;
    transform: 0.2s;
}