@font-face {
    font-family: centuryGothic;
    src: url(centurygothic.ttf);
}

html{
    padding-top:0px;
    margin-top: 0px;
    background-color: black;
    background-image: linear-gradient(hsl(0,0%,30%) 5%,hsl(0,0%,80%) 5% 95%);
    background-size:4rem 20px ;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    font-family: centuryGothic;
}

body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 70px;
    margin-bottom: 70px;
    justify-content: center;
    align-items: center;

}

#container{
    height: 80vh;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 2fr;

    gap: 50px;
}

.img-container{
    display: flex;
    justify-content: center;
    background-color: hsl(0,0%,100%);
    box-shadow: 0 0 30px hsl(0,0%,70%);
    border-radius: 10px;
    
}

.img-container img{
    height: 300px;
}

.details h1{
    font-size: 120px;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 900;
    text-shadow: 0 0 10px hsl(0,0%,60%);
    color: hsl(0,0%,10%);
}

.subjects{
    display: flex;
    flex-wrap: wrap     ;
    gap: 10px;
    
}

.subject{
    
    background-color: hsl(0,0%,90%);
    border-radius: 25px;
    width: fit-content;
    padding-left: 20px;
    box-shadow: 0 0 10px hsl(0,0%,70%);
    padding-right: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.subject h2{
    font-size: 25px;
    letter-spacing: 1px;
    color: hsl(0,0%,30%);
}

.subject h3{
    font-size: 20px;
    letter-spacing: 1px;
    color: hsl(0,0%,30%);
    text-align: center;
}

.timeslot{
    padding-right: 10px;
    padding-left: 10px;
    
    background-color: hsl(0,0%,80%);
    text-align: center;
    border-radius: 15px;
    width: fit-content;
    

}

.user-review{
    margin-top: 0;
    padding: 30px;
    background-color: hsl(0,0%,90%);
    color: hsl(0,0%,30%);
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 5px;
}

.user-review h1{
    font-size: 30px;
    margin-bottom: 30px;
}

.user-review div{
    display: flex;
    justify-content: center;
    gap:10px;

}

.user-review input{
    width: 80%;
    font-size: 25px;
    font-family: centuryGothic;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: hsl(0, 0%, 95%);
    box-shadow: 0 0 10px hsl(0,0%,80%);
    padding: 0;
    margin: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 30px;
}

.user-review button{
    font-size: 20px;
    margin-top: 0;
    padding-right: 10px;
    background-color: hsl(0, 0%, 95%);
    box-shadow: 0 0 10px hsl(0,0%,80%);
    padding-left: 10px;
    border-radius: 5px;
    font-family: centuryGothic;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}

.user-review button > h2{
    padding-right: 30px;
    padding-left: 30px;
}

.user-review button:hover > h2{
    transition: 0.2s;
    letter-spacing: 2px;
}

#reviews{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    
    
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.review{
    background-color: hsl(0,0%,90%);
    padding: 30px;
    border-radius: 5px;
    
}

.review h2{
    color: hsl(0,0%,30%);
}

h1{
    font-size: 50px;
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;
}

.user{
    display: flex;
    gap: 30px;
    align-items: center;
}

.user img{
    height: 60px;
    width: 60px;
    border-radius: 50%;

}

#padding-fix{
    height: 300px;
    width: 400px;
    opacity: 0;
}